# Copy this file to frontend/.env and set the VITE_FIREBASE_PUBLIC_KEY for push notification.
VITE_API_URL=https://rezi-laravel.nlabs.id/api
VITE_FIREBASE_PUBLIC_KEY=YOUR_FIREBASE_PUBLIC_VAPID_KEY_HERE
VITE_RECAPTCHA_SITE_KEY=
VITE_REVERB_APP_KEY=TUTORKU-key
VITE_REVERB_HOST=rezi-laravel.nlabs.id
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https
